$importFont: "https://fonts.googleapis.com/css2?family=Nunito&display=swap";
$fontFamily: "Nunito", sans-serif;

$white: #fff;
$black: #21292c;
$red: #aa3e39;
$orange: #aa6e39;
$blue: #236267;
$green: #2c8437;
