extend head/_link.pug
block contenidos
  h1(class="mbottom-2 t-center") Components
  //--------------------------------------
  .sticky.box.bg-gray.float-right sticky
  .sticky-b.box.bg-gray.float-right sticky
  .content-m
    h2 sticky
    p sticky

    h2 border
    - var bgColors = [   "primary", "secondary", "success", "info", "warning", "danger", "white", "gray-light", "gray", "gray-dark", "black"]
    - var tColors = [  "text-white" , "text-color" , "title-color" , "link-color" ]

    each color in bgColors
      p(class=" bg-gray-light  p b-3  b-" + color) #{color}


    h2 blur
    .h-300.img-container.flex
      img(src="https://imgcomfort.com/Userfiles/Upload/images/illustration-geiranger.jpg" alt="")
      div(class="h-50% w-50% blur-7-bg t-white") blur-7-bg
      div(class="h-50% w-50% blur-2-bg t-white") blur-2-bg
      div(class="h-50% w-50% blur-3-bg t-white") blur-3-bg
    p
      .box.bg-info text
      | no blur
    p
      .box.bg-info.blur-2 text
      | blur

  
    h2 blend
    p blend-black
    .bg-divided.h-500.crop
      img(src="https://www.dejavu-psychics.com/wp-content/uploads/2015/11/rainbow-colors-image.jpg").blend-black
    p blend-white
    .bg-divided.h-500.crop
      img(src="https://www.dejavu-psychics.com/wp-content/uploads/2015/11/rainbow-colors-image.jpg").blend-white

    //- h2 svg background
    //- .imgvg.h-100

    h2 carousel hover effect
    .carousel.flex
      .box-3.round-circle.bg-gray
      .box-3.round-circle.bg-gray
      .box-3.round-circle.bg-gray
      .box-3.round-circle.bg-gray

    h2 flip
    p .flip-h
    .flip_container.h-100.w-100
      .flip-h
        .front.bg-info front
        .back.bg-danger back
    p .flip-v
    .flip_container.h-100.w-100
      .flip-v
        .front.bg-info front
        .back.bg-danger back
    h2 video container 16:9
    .video-container.bg-info
      .video
        <i class="fas fa-play absolute center display-1 t-white" ></i>


