extend head/_link.pug
block contenidos
  h1(class="mbottom-2 t-center") Flex
  //--------------------------------------
  .container-m
    h2.bold flex
    .flex.b-2.b-info.h-200
      .box.bg-info 
      .box.bg-success
      .box.bg-info
      .box.bg-success  


    h2 flex align-center
    .flex.b-2.b-info.h-200.ai-center
      .box.bg-info
      .box.bg-success
      .box.bg-info
      .box.bg-success

    h2 flex align-end
    .flex.b-2.b-info.h-200.ai-flex-end
      .box.bg-info
      .box.bg-success
      .box.bg-info
      .box.bg-success


    //--------------------------------------

    h2.bold flex-col
    .flex-col.b-2.b-success.h-300
      .box.bg-success
      .box.bg-info
      .box.bg-success
      .box.bg-info

    h2 flex-col align-center
    .flex-col.b-2.b-success.h-300.ai-center
      .box.bg-success
      .box.bg-info
      .box.bg-success
      .box.bg-info

    h2 flex-col align-end
    .flex-col.b-2.b-success.h-300.ai-flex-end
      .box.bg-success
      .box.bg-info
      .box.bg-success
      .box.bg-info


    //--------------------------------------

    h2.bold justify space
    h2 jc-space-between
    .flex.b-2.b-danger.h-200.jc-between.align-center
      .box.bg-info
      .box.bg-success
      .box.bg-info
      .box.bg-success
    h2 jc-space-around
    .flex.b-2.b-danger.h-200.jc-around.align-center
      .box.bg-info
      .box.bg-success
      .box.bg-info
      .box.bg-success
    h2 jc-space-evenly
    .flex.b-2.b-danger.h-200.jc-evenly.align-center
      .box.bg-info
      .box.bg-success
      .box.bg-info
      .box.bg-success


    //--------------------------------------
    h2.bold grow-1
    .flex.b-2.b-warning.h-200
      .box.bg-info.grow-1
      .box.bg-success