extend head/_link.pug
block contenidos
  h1(class="mbottom-2 t-center") Forms
  //--------------------------------------
  div(class="content-m shadow p-sm")
    form(action="")

   
      input( type="checkbox" id="1")
      label(for="1") checkbox
      br
      label(for="2") checkbox
      input( type="checkbox" id="2")
      br
      label(for="3") checkbox
      input( type="checkbox" id="3").input-checkbox
      br
      input( type="checkbox" id="4" checked).input-checkbox
      label(for="4") checkbox
      //- -----------------
      br
      input( type="radio" id="radio1" name="radio") 
      label(for="radio1") radio
      br
      input( type="radio" id="radio2" name="radio").input-radio
      label(for="radio2") radio
      br
      label(for="radio3") radio
      input( type="radio" id="radio3" name="radio" checked).input-radio


      input( type="color")
      input( type="email" placeholder="email")
      input( type="email" placeholder="email" disabled value="zzzzzzz")
      input( type="email" placeholder="email" required ).b.danger
      input( type="email" placeholder="email"  ).b.success
      input( type="file")
      input( type="hidden")
      input( type="image" value="Image")
      input( type="month")
      input( type="number" placeholder="number")
      input( type="password" placeholder="password")
      input( type="range" value="1" min="1" max="20" autocomplete="off")
      input(type="range" class="range b-pink")
      input(type="range" class="range-round")
      input(type="range" class="range-line")
      input( type="search" placeholder="search")
      input( type="tel" placeholder="tel")
      input( type="text" placeholder="text")
      input( type="time")
      input( type="url" placeholder="url")
      input( type="week")
      textarea( name="" id="" placeholder="textarea")

      label(for="select")  select
      select#select(name="select") 
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
      input( type="reset" class=" t-light bg-danger-hover" value="Reset").btn
      input( type="submit" class=" t-light bg-success-hover").btn
      input( type="button" value="Button " class=" t-light bg-info-hover").btn
      input( type="submit" class="full-w t-light bg-orange-hover").btn

    h1 Form group 
    .gap-col-2.mb-2
      .flex.my.ai-center
        label.btn.bg-blue-light.t-light(for="") label
        input.flex-auto(type="text" placeholder="placeholder").mb-0
        input.flex-auto(type="range" class="range-line")
      .input-group.my
        label.btn(for="") label
        input.input-control(type="text" placeholder="placeholder")
        input.input-control(type="range" class="range-line")
      .input-group 
        i(class="fas fa-user bg-info box-2 t-light")
        input.input-control(type="text" placeholder="placeholder")
    h3 messages 
    p.t-small.t-center.t-danger error
    p.t-small.t-center.bg-danger-light.t-light error
    p.t-small.t-center.t-success success
    p.t-small.t-center.bg-success-light.t-light success