extend head/_link.pug
block contenidos

  h1(class="mb-2 t-center") Layout
  //--------------------------------------
  .container-m
    h2 Columns 
    pre
      |container: class="container-m 
      strong columns-4 gap-2
      |"
      |childs: class="m-bottom"
  .container-m.columns.col-4.gap-2
    .b-1.b-gray.p.m-bottom
      +img(100)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p.m-bottom
      +img(200)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p.m-bottom
      +img(400)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p.m-bottom
      +img(300)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p.m-bottom
      +img(100)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p.m-bottom
      +img(200)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p.m-bottom
      +img(400)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p.m-bottom
      +img(300)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 

  .container-m
    h2 Grid 
    pre
      |container: class="container-m 
      strong col-4 gap-2
      |"
      |childs: class="m-bottom"
  .container-m.grid.col-4.gap-2
    .b-1.b-gray.p
      +img(100)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p
      +img(200)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p
      +img(400)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p
      +img(300)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p
      +img(100)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p
      +img(200)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p
      +img(400)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .b-1.b-gray.p
      +img(300)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 

  .container-m
    h2 Flexbox
    pre
      |container: class="container-m 
      strong flex
      |"
      |childs: class="mb"
  .container-m.flex(class="")
    .mb.b-1.b-gray.p(class="")
      +img(100)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .mb.b-1.b-gray.p(class="grow-3")
      +img(200)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .mb.b-1.b-gray.p
      +img(400)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .mb.b-1.b-gray.p
      +img(300)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .mb.b-1.b-gray.p
      +img(100)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .mb.b-1.b-gray.p
      +img(200)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .mb.b-1.b-gray.p
      +img(400)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .mb.b-1.b-gray.p
      +img(300)
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. 