extend head/_link.pug
block contenidos

	h1(class="mbottom-2 t-center") Aside
	.content-m
		//--------------------------------------
		.w-50.h-50.bg-info
		.w-50.h-50.bg-success(class="scale-0.5")
		.w-50.h-50.bg-info(class="scale-1")
		.w-50.h-50.bg-info(class="scale-1.5")
		.w-50.h-50.bg-success(class="scale-2")

		.w-50.h-50.bg-info(class="")
		.w-50.h-50.bg-info(class="translate-x-0")
		.w-50.h-50.bg-info(class="translate-x-25")
		.w-50.h-50.bg-info(class="translate-x-50")
		.w-50.h-50.bg-info(class="translate-x-75")
		.w-50.h-50.bg-info(class="translate-x-100")
		div
			.box.bg-info(class="translate-x-100")
