// image tag as background -------------------

.img-container {
  @include img-container;
}

// variable as background image -------------------------
// the url is relative to where is located the css file
.var-img,
.img-var {
  // @include bg-var;
  --url: url();
  background: var(--url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
// example
// style="--url: url(https://img.jpg)"

//-------------------image container----------------------------------//
// .gallery,
// .gall {
//   @each $key, $value in $numbers {
//     &-#{$key} {
//       // text-align: center;
//       & > img {
//         height: #{$key}rem;
//       }
//     }
//   }
// }

//-------------------polaroid style----------------------------------//
img.polaroid {
  background: #000; //Change this to a background image or remove*/
  border: solid #fff;
  border-width: 6px 6px 20px 6px;
  box-shadow: 1px 1px 5px #333; // Standard blur at 5px. Increase for more depth */
  -webkit-box-shadow: 1px 1px 5px #333;
  -moz-box-shadow: 1px 1px 5px #333;
  height: 200px; //Set to height of your image or desired div*/
  width: 200px; //Set to width of your image or desired div*/
}

//-------------------shape outside----------------------------------//
// .outside {
//   float: left;
//   shape-outside:url("xxx");
//   shape-margin: $padding;
// }
