extends layout/_layout.pug
//-=====================================


block head
	- var title = 'title'
	include layout/_head.pug
	//- include layout/_seo.html
	//- link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css") 

//--------------------------------------

block content
	//- .content-m.masonry2.p-md
	//- .masonry2.p-md
	.content-m.masonry3.p-md
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor s
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero sequi voluptates perferendis placeat sed non! Nemo labore voluptates accusamus similique magnam eaque recusandae quia, modi doloremque!
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero se
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero sequi voluptates perferendis placeat sed non! Nemo labore voluptates accusamus similique magnam eaque recusandae quia, modi doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit rerum beatae reiciendis qui quis, quisquam quos modi voluptatibus itaque aspernatur impedit enim saepe corporis iusto illum, amet ad id ea?
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero sequi voluptates perferendis placeat sed non! Nemo labore voluptates accusamus similique magnam eaque recusandae quia, modi doloremque!
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor s
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero sequi voluptates perferendis placeat sed non! Nemo labore voluptates accusamus similique magnam eaque recusandae quia, modi doloremque!
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero se
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero sequi voluptates perferendis placeat sed non! Nemo labore voluptates accusamus similique magnam eaque recusandae quia, modi doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit rerum beatae reiciendis qui quis, quisquam quos modi voluptatibus itaque aspernatur impedit enim saepe corporis iusto illum, amet ad id ea?
		.post.mb 
			+img(500)
			h2 post name 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem enim, facilis suscipit vero sequi voluptates perferendis placeat sed non! Nemo labore voluptates accusamus similique magnam eaque recusandae quia, modi doloremque!

//--------------------------------------
block scripts
	//- script(src="../js/app.js")