extends layout/_layout.pug
//-=====================================


block head
	- var title = 'title'
	include layout/_head.pug
	//- include layout/_seo.html
	//- link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css") 

//--------------------------------------
block content
	h1 pixijs












//--------------------------------------
block foot
	//- include layout/_footer.pug

//--------------------------------------
block scripts
	//- script(src="../js/pixi.js")
	script(src="../js/app.js")