extends layout/_layout.pug
//-=====================================


block head
	- var title = 'title'
	script. 
		window.ga =
			window.ga ||
			function() {
				(ga.q = ga.q || []).push(arguments);
			};
		ga.l = +new Date();
		ga("create", "UA-105392568-1", "auto");
		ga("send", "pageview");


	include layout/_head.pug
	//- link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css") 
//--------------------------------------


block content 
	//- .hexagon
	#cursor
	.cont
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
		.row
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
			.hexagon2
	//- --------------------------
	//- .sec._reveal
	//- 	.algo.img-container 
	//- 		img(src="../img/img.jpg", alt="")
	//- 		h2 ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi iusto quae fuga facilis blanditiis perferendis nemo! Quia incidunt dolorem, debitis accusantium nulla tempora. Consequuntur omnis qui eos sapiente amet.
	//- 	.algo 
	//- 		h2 ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi iusto quae fuga facilis blanditiis perferendis nemo! Quia incidunt dolorem, debitis accusantium nulla tempora. Consequuntur omnis qui eos sapiente amet.
	//- --------------------------
	//- .raining 
	//- 	p xxx
	//- --------------------------
	//- section
	//- 	.contt 
	//- 		.roww
	//- 			.cube 
	//- 				span
	//- 				span
	//- 				span
	//- --------------------------
	//- canvas
	//- .promo 
	//- 	.promo-middle
	//- 		.promo-content 
	//- 			.promo-header 
	//- 				span.promo-close &times;
	//- 			.promo-body 
	//- 				p try fluid 
	//- 				.links-container 
	//- 					a.link#apple_link x
	//- 					a.link#google_link g 
	//- --------------------------
	//- .body
	//- 	.section1 
	//- 		.side#side1
	//- 		.side#side2
	//- --------------------------
	//- .p.flex.full-vh.bg-pink
	//- 	.box-9.bg-info-light.shadow1 
	//- 	.box-9.bg-info-light.shadow2 
	//- 	.box-9.bg-info-light.shadow3 
	//- 	.box-9.bg-info-light.shadow4 
	//- 	.box-9.bg-info-light.shadow5 
	//- 	.box-9.bg-info-light.shadow6 
	//- 	.box-9.bg-info-light.shadow7





//--------------------------------------
block scripts

	//- script(src="../js/dat.gui.js")  
	//- script(src="../js/script.js")  
	script(src="../js/app.js")  
