include _head.pug
include _mixins.pug

body.flex-col.mb-3._reveal-hover
  div.bg-dark-t
    div.content-m.flex.space-between
      a(href="./index.pug" class="btn ") Index
      a(href="./forms.pug" class="btn  ") forms
      //- a(href="./aside.pug" class="btn ") aside
      //- a(href="./aside2.pug" class="btn ") aside2
      a(href="./navbars.pug" class="btn ") navbars
      a(href="./darkmode.pug" class="btn ") darkmode 
      a(href="./layout.pug" class="btn ") layout 
      a(href="./components.pug" class="btn ") components 
      a(href="./flex.pug" class="btn ") flex 
      a(href="./grid.pug" class="btn ") grid  
  block contenidos
  footer.bg-black-t.m-top-3.fixed(class="bottom-0% top-a right-0%")
    button#toggledark.btn-center.d-block.bg-primary.t-gray-light.round 
      i.fas.fa-moon
  //-=====================================
  script(type="text/javascript")
    | // Apply the cached theme on reload
    | const theme = localStorage.getItem("theme");
    | if (theme) {
    |   // body.classList.add(theme);
    |   document.body.classList.toggle(theme);
    | }
    | // Select the button
    | const darkBtn = document.querySelector("#toggledark");
    | // Listen for a click on the button
    | darkBtn.addEventListener("click", function () {  switchTheme("dark-theme");});
    | function switchTheme(themeName) {
    |   document.body.classList.toggle(themeName);
    |    if (!theme) {
    |      localStorage.setItem("theme", "dark-theme");
    |    } else {
    |      localStorage.removeItem("theme");
    |    }
    | }