include _mixins.pug
include _data.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block head
    link(rel="stylesheet" href="../scss/main.scss")
    
  body(style="margin-left:61px;margin-left:61px;min-height:100vh;")
    block content
      

    block foot

    block scripts