.bg-black.menubar.p.t-light.t-uppercase.flex-col._reveal-hover
	//- .gap-col
	a.menubar-item(class="hover:bg-gray-light-t" href="#").round-1
		<i class="fas fa-bars box-2 "id="btn-menu"></i>
		span.menubar-text Navbar
	a.menubar-item(class="hover:bg-gray-light-t" href="#").round-1
		<i class="fas fa-search box-2 "></i>
		input(type="text").menubar-text
		span.menubar-tooltip.t-black tooltip
	a.menubar-item(class="hover:bg-gray-light-t" href="#").round-1
		<i class="fas fa-search box-2"></i>
		span.menubar-text zzzzzzzzzzzz
		span.menubar-tooltip.t-black tooltip
	a.menubar-item(class="hover:bg-gray-light-t" href="#").round-1
		<i class="fas fa-search box-2"></i>
		span.menubar-text zzzzzzzzzzzz
		span.menubar-tooltip.t-black tooltip
	a.menubar-item(class="hover:bg-gray-light-t" href="#").round-1
		.menubar-tooltip.t-black tooltip
		<i class="fas fa-search box-2"></i>
		.menubar-text.menubar-dropdown zzzzzzzzzzzz
			.menubar-dropdown 1
				.menubar-dropdown  2
					.menubar-dropdown 3
						.menubar-dropdown  4
							.menubar-dropdown 5
								.menubar-dropdown  6
	a.menubar-item(class="hover:bg-gray-light-t" href="#").round-1
		.menubar-tooltip.t-black tooltip
		<i class="fas fa-search box-2"></i>
		.menubar-text.menubar-dropdown zzzzzzzzzzzz
	.menubar-item(class="hover:bg-gray-light-t" href="#").round-1
		.menubar-tooltip.t-black tooltip
		<i class="fas fa-search box-2"></i>
		.menubar-text components
		.menubar-dropdown-item
			<i class="fas fa-th-large box-2"></i>
			span  buttons
			a.menubar-dropdown-item
				<i class="fas fa-th-large box-2"></i>
				span  buttons	


	.menubar-item(class="hover:bg-gray-light-t" href="#").round-1.menubar-dropdown
		.menubar-tooltip.t-black tooltip
		<i class="fas fa-search box-2"></i>
		.menubar-text components
		.menubar-dropdown-item.flex-col.hide.menubar-dropdown
			div.menubar-dropdown
				<i class="fas fa-th-large box-2"></i>
				span  1
				.menubar-dropdown-item.flex-col.hide
					a(href="#") 
						<i class="fas fa-th-large box-2"></i>
						span  3
					a(href="#") 
						<i class="fas fa-th-large box-2"></i>
						span  3
			a(href="#") 
				<i class="fas fa-th-large box-2"></i>
				span  1
			a(href="#") 
				<i class="fas fa-th-large box-2"></i>
				span  1




	a.menubar-item(class="hover:bg-gray-light-t" href="#").round-1.mt-a
		<i class="fas fa-search box-2"></i>
		span.menubar-text zzzzzzzzzzzz
		span.menubar-tooltip.t-black tooltip
