@use "sass:math";
// @import "0_reset/minireset.scss";

// @import "defaultVariables.scss";

// //==========================custome variables==========================*/
@import "variables.scss";
// //==========================================================*/
// @import "settings";
// @import "layout";
// @import "components";
// @import "utilities";
// ------------------------
@import "settings/maps";
@import "settings/functions";
@import "settings/mixins";
// @import "components/_flipcard";

// @import "settings/base";
// @import "settings/forms";
// @import "settings/dark-mode";
// @import "settings/buttons";
// @import "settings/toggles";
// ------------------------
// @import "debug";

//-----------------------------------------------------//

#{$thisName} {
  @include card();
  font-size: 16px;
  max-width: Em(500px);
  max-height: Em(ruleofthree(100, 500, 57) * 1px);
  color: Color(light);
  @include to($globalBP) {
    max-height: Em(350px);
  }
  // -------------------
  &-flip {
    @include flip_h();
  }
  // -------------------

  &-body,
  &-body-front,
  &-body-back {
    @include body();
    @include p-(Em($padding));
    box-shadow: 0px 5px 9px rgb(0 0 0 / 50%);
  }
  &-body {
    &-front {
      @include front();
      background: rgb(57, 57, 68);
      background: radial-gradient(
        circle,
        rgba(57, 57, 68, 1) 0%,
        rgba(27, 29, 36, 1) 100%
      );
      border-bottom-left-radius: 2em;
      border-top-right-radius: 2em;
    }
    &-back {
      @include back();
      // align-content: center;
      // align-items: center;
      // justify-content: center;
      // flex-direction: row;
      // flex-wrap: wrap;
      background: rgb(57, 57, 68);
      background: radial-gradient(
        circle,
        rgba(57, 57, 68, 1) 0%,
        rgba(27, 29, 36, 1) 100%
      );
      border-top-left-radius: 2em;
      border-bottom-right-radius: 2em;
    }
  }
  // -------------------
  &-centered {
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &-mx {
    @include mx-(auto);
  }

  // ---------------------------

  &-heading {
    font-size: 2em;
    font-weight: 700;
  }
  &-subtitle {
    font-size: 1.5em;
    font-weight: 300;
  }
  &-heading,
  &-subtitle {
    @include to($globalBP) {
      text-align: center;
    }
    // @at-root #{$thisName}-body-back & {
    //   @include mx-(auto);
    // }
  }
  &-list {
    // margin-top: Em(50px);
    margin-top: auto;
    // @include gap-col(8px);
  }
  &-contact {
    margin-top: Em(8px);
    font-size: 1em;
    position: relative;
    @include flex-dcia(
      $align-items: center,
      $justify-content: flex-start,
      $flex-wrap: nowrap
    );
    &-info {
      margin-left: Em(8 + 32px);
      font-size: 1em;
      height: min-content;
      line-height: 1.1;
    }
    &-icon {
      // @include box-px(32px, 24px, 32px);
      @include box-em(2em);
      display: flex;
      justify-content: center;
      align-items: center;
      // background: Color(red);
      position: absolute;
      left: 0;
      & > svg {
        height: 1em;
        width: 1em;
      }
    }
  }
  &-brand {
    position: absolute;
    // width: 100px;
    right: Em($padding);
    top: Em($padding);
    margin-bottom: Em($padding);
    height: Em(60px);
    @include mx-(auto);
    display: block;
    @include to($globalBP) {
      order: -1;
      position: static;
      // width: auto;
    }
    &-back {
      min-width: Em(100px);
      width: Em(100px);
      @include mx-(auto);
    }
  }
  // -----------------------------
  &-bg {
    &-front {
      position: absolute;
      //  @include fullWH();
      top: 20%;
      left: 30%;
      width: 35em;
      height: 35em;
      // background: blue;
      z-index: -1;
      border-radius: 50%;
      background: radial-gradient(
          115% 124% at 118.5% 50%,
          rgba(255, 0, 176, 1) 0%,
          rgba(0, 0, 0, 0.18) 96%
        ),
        radial-gradient(
          65% 66% at 7.5% 28%,
          rgba(0, 255, 65, 0.61) 0%,
          rgba(33, 94, 131, 0) 96%
        ),
        radial-gradient(
          107% 109% at 46.5% 98.5%,
          rgba(217, 198, 3, 1) 6%,
          rgba(0, 65, 255, 1) 96%
        );
      transition: transform 2s;
      @at-root #{$thisName}:hover & {
        transform: scale(1.5);
      }
    }
  }
}
