include _mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block head
    link(rel="stylesheet" href="../scss/main.scss")
    
  body
    block content
      

    block foot

    block scripts