extends layout/_layout.pug
//-=====================================


block head
	- var title = 'title'
	include layout/_head.pug
	//- include layout/_seo.html
	link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css") 

//--------------------------------------

block content
	include layout/_navbar.pug
	.content-m.my-xl
		.box-2.bg-green-light xxxxxxxxxxx
		.rectangle-3.bg-green xxxxxxxxxxx

	.t-light.b.h-50.bg-cyan.content-fluid-xl-m content-xl-m
	.t-light.b.h-50.bg-cyan.content-fluid-lg-m content-lg-m
	.t-light.b.h-50.bg-cyan.content-fluid-m content-m
	.t-light.b.h-50.bg-cyan.content-fluid-md-m content-md-m
	.t-light.b.h-50.bg-cyan.content-fluid-sm-m content-sm-m
	.t-light.b.h-50.bg-cyan.content-fluid-movile-m content-movile-m

	.t-light.b.h-50.bg-info.content-xl-m content-xl-m
	.t-light.b.h-50.bg-info.content-lg-m content-lg-m
	.t-light.b.h-50.bg-info.content-m content-m
	.t-light.b.h-50.bg-info.content-md-m content-md-m
	.t-light.b.h-50.bg-info.content-sm-m content-sm-m
	.t-light.b.h-50.bg-info.content-movile-m content-movile-m
	.content-m
		h1 flex

	.content-m.flex.jc-center.gap-col-2
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx
		.b.b-red.bg-cyan.w-200.p-sm xxxx

	.content-m.flex.gap-1
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor 
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b
			+img(500)
			h1 h1 
			p Lorem ipsum, dolor 
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor 
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b
			+img(500)
			h1 h1 
			p Lorem ipsum, dolor 
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor 
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b
			+img(500)
			h1 h1 
			p Lorem ipsum, dolor 
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor 
		.flex-1.b 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, itaque impedit molestiae, quas aliquam rem blanditiis accusantium est nostrum harum dolore illum perferendis quasi consequatur quidem deserunt delectus officia quaerat.
		.flex-1.b
			+img(500)
			h1 h1 
			p Lorem ipsum, dolor 
	.content-m
		h1 grid
	.content-m.grid.col-4.gap-row-3 
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit  eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit  eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
	.content-m
		h1 columns 
	.content-m.columns.col-4.gap-col-3 
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit  eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amendis eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit  eligendi, velit eaque obcaecati?
		div 
			h1 h1 
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure possimus, deleniti cumque eum nisi doloremque veritatis, nesciunt quia quas ex impedit vitae at suscipit qui perferendis eligendi, velit eaque obcaecati?
//--------------------------------------
block scripts
	script(src="../js/app.js")